<!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><p id="logo_title">FREDDYMON SA</p></a>
      </div>

      <nav id="nav-menu-container">
  <ul class="nav-menu">
    <li class="menu-active"><a href="#hero">INICIO</a></li>
    <li><a href="#about">QUIENES SOMOS</a></li>
    <li><a href="#services">SERVICIOSS</a></li>
    <li><a href="#team">EQUIPO DE DESARROLLO</a></li>
    <li><a href="#contact">CCONTACTANOS</a></li>
  </ul>
</nav><!-- #nav-menu-container -->
    </div>
    
  </header><!-- #header -->


