 <section id="about">
      <div class="container">
        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Conoce un poco sobre nosotros</h2>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">Mision</a></h4>
              <p class="description">Asesorar la construcción de hospitales cumpliendo normativas y estándares internacionales y nacionales  tales como: Join Comission, NFPA, ASRHAE ,guia de acabados del Ministerio de Salud Publica.
              Y gestionar y administrar el uso de equipos y tecnología medica.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-photo"></i></div>
              <h4 class="title"><a href="">Vision</a></h4>
              <p class="description">Convertirnos en un referente nacional para mejorar el diseño de hospitales , la seguridad del paciente y los trabajadores.</p>
            </div>

           

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

      </div>
    </section>